.board {
  outline: 2px solid rgb(134, 154, 189)
}

.row {
  height: 35px;
}

.cell {
  width: 35px;
  height: 35px;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
}

.cell-green {
  background-color: aquamarine;
}

.cell-red {
  background-color: rgb(255, 154, 154);
}

.cell-purple {
  background-color: rgb(195, 132, 253);
}